/* Your styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:black; 
    margin: 20px;
    
}

h1 { 
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

ul {
    background-color: rgb(104, 103, 103);
    padding: 15px 15px 15px 35px;
    border: 1px solid black;
    width: 600px;
}
li {
    margin-bottom: 5px;
    color: white;
}
p {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#search-input {
    padding: 8px;
    width: 600px;
    background-color: rgb(104, 103, 103);
    color:white;
    border: 1px solid black;
}

#search-result:empty {
    display: none;
}